.spinner {
    display: none;
}

.save-btn {
    border: 1px solid red;
}

.qr-background-img {
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFF;
}